article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
html { width:100%; height:100%; min-height: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body { position: relative; margin: 0; height:100%; min-height: 100%; width: 100%; background: #fff; color: #232736; font: 12px/180% "Microsoft Yahei", sans-serif; -webkit-tap-highlight-color:rgba(0,0,0,0);/*去掉点击蓝色焦点*/ }
a { background: transparent }
a.white{ color:#fff !important;}
a:focus { outline: thin dotted }
a:active, a:hover { outline: 0 }
h1 { font-size: 2em; margin: 0.67em 0 }

img { border: 0; width:100%; }
svg:not(:root) { overflow: hidden }
figure { margin: 0 }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em }
legend { border: 0; padding: 0 }
button, input { line-height: normal; padding:0; }
input,select {-webkit-appearance: none; margin:0; padding:0;}
button, select { text-transform: none }
input{ outline:none; font-family:"Microsoft Yahei"}
input[type="button"], input[type="submit"]{ cursor:pointer}
h1, h2, h3, h4, h5, h6, p { margin: 0 }
ul, ol, li { list-style: none; }
div, p, ul, li, ol, dl, dt, br { margin: 0; padding: 0 }
br{ line-height: 0;}
a { text-decoration: none; color: #232736; cursor: pointer }
a:focus { outline: none; }
img { max-width: 100% }
.tbl{ display:table;}
.tbl-cell{ display:table-cell;}
.inline-table{ display:inline-table !important;}
.align-top{ vertical-align:top;}
.disblock { display: block !important; }
.pos-relative { position: relative; }
.group:after { content: ""; display: table; clear: both }
.line-through { text-decoration: line-through }
.clear-margin { margin: 0 !important }
.left { float: left }
.right { float: right }
.t-left { text-align: left !important; }
.t-center { text-align: center; }
.t-right { text-align: right; }
.ui_hide, .hide { display: none !important }
.dsn{ display:none}
.lineheight0{ line-height:0 !important}
.lineheight120{ line-height:120% !important}
.p00 { padding: 0 !important }
.p010 { padding: 0 10px !important; }
.ptop5 { padding-top: 5px !important }
.pt10 { padding-top: 10px !important }
.ptb5 { padding-top: 5px !important; padding-bottom: 5px !important }
.ptb10 { padding-top: 10px !important; padding-bottom: 10px !important }
.ptb1020 { padding-top: 10px !important; padding-bottom: 20px !important }
.p510 { padding:5px 10px !important }
.p10 { padding: 10px !important }
.m10 { margin: 10px !important }
.m100 { margin: 10px 0 !important }
.pt20 { padding-top: 20px !important }
.pb0{ padding-bottom:0 !important;}
.pb10 { padding-bottom: 10px !important }
.pb20 { padding-bottom: 20px !important }
.pb200{ padding-bottom:200px;}
.pbfooter { padding-bottom: 57px; }
.ptb15 { padding: 15px 0 !important; }
.ptb20 { padding: 20px 0 !important; }
.p20 { padding: 20px }
.m010{ margin:0 10px;}
.p2010 { padding: 20px 10px; }
.m0{ margin:0 !important}
.m20 { margin: 20px }
.mtb30 { margin: 30px 0; }
.mtop0 { margin:0 auto !important; }
.mtop2 { margin-top: 2px; }
.mtop3 { margin-top: -3px; }
.mtop4 { margin-top: -4px; }
.mtop5 { margin-top: 5px !important; }
.mtop10 { margin-top: 10px !important; }
.mtop15 { margin-top: 15px; }
.mtop20 { margin-top: 20px; }
.mtop40 { margin-top: 40px; }
.mbottom10 { margin-bottom: 10px; }
.mleft10 { margin-left: 10px; }
.mleft15 { margin-left: 15px; }
.mright5{ margin-right:5px;}
.mright15{ margin-right:15px;}
.mright10{ margin-right:10px;}
.mright20{ margin-right:20px !important;}
.bold { font-weight: bold }
.normal{ font-weight:normal;}
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; }
.red { color: #e4393c !important; }
.white{ color:#fff !important;}
.orange{ color:#ed891f;}
.green{ color:#3cb158;}
.grey{ color:#8e8e93 !important;}
.black{ color:#232736 !important;}
.blue{ color:#607fa6 !important;}
.bggrey{ background:#f5f5f9 !important;}
.bggrey01{ background:#697486 !important;}
.bgdarkgrey{ background:#c6c6c9;}
.divide-box{ margin: 0 auto; height:15px; background: #f5f5f9;}
.divide-box10{ margin: 0 auto; height:10px; background: #f5f5f9;}
.borderone{ border:1px solid #e2e1e4;}
.bordertop{ border-top:1px solid #e2e1e4;}
.borderbottom{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.bordertopgrey{ border-top:1px solid #e2e1e4; border-width:1px 0 0 0; border-image:url(../images/border.gif) 2 0 stretch;}
.borderbottomgrey{ border-bottom: 1px solid #e2e1e4; border-width:0 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.bordertbgrey{ border-top:1px solid #e2e1e4; border-bottom: 1px solid #e2e1e4; border-width:1px 0 1px 0; border-image:url(../images/border.gif) 2 0 stretch;}
.noborder{ border:none !important;}
.borderleft{ border-left:1px solid #e2e1e4 !important;}
.borderright{ border-right:1px solid #e2e1e4 !important;}
.maintain-menus .borderright{ border-right:1px solid #e2e1e4 !important; margin-left: -1px;}
.noborderbottom{ border-bottom: none !important;}
.tap-nobg{ tap-highlight-color: rgba(0,0,0,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);}

.disbox{ display:-moz-box; display:-webkit-box; display:box; -moz-box-align:center; -webkit-box-align:center; box-align:center;}

/*.displaybox{ display:-webkit-box; display:-moz-box; display:-o-box; display:-ms-box; display:box; -webkit-box-align:center; -moz-box-align:center; -o-box-align:center; -ms-box-align:center; box-align:center; -webkit-box-pack:start;-moz-box-pack:start;-o-box-pack:start;-ms-box-pack:start;box-pack:start;}
.boxflex01{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}*/
.displaybox{/*老规范*/
			display:-moz-box; 
			display:-webkit-box;
			display:box;
	   -moz-box-align: center;
  	-webkit-box-align: center;
  	 		box-align: center; 
  	 		/*新规范*/
			display:-moz-flex;
			display:-webkit-flex;
			display:flex;
	   -moz-align-items: center;
	-webkit-align-items: center;
	        align-items: center; 
	       }
.boxflex01{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;/*老规范*/ -moz-flex:1; -webkit-flex:1; flex:1;/*新规范*/ display: block;}
/*为兼容QQ、UC等其他浏览器，该元素必须为块级元素，属性为display:block*/

.flexstart { -webkit-box-align: flex-start; -ms-flex-align: flex-start; -webkit-align-items: flex-start; align-items: flex-start }
.boxalign { -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center }

.wp0{ width: 0%;}
/*弹性盒子按比例分配的列的宽度不对，解决办法如下。
html5弹性盒子中按照比例分解的列都加上 width: 0%; 已经有固定值的列不需要加，原因不明。这个应该是CSS3新属性  box-orient  没有完善的原因。
<textarea></textarea>标签须加上disblock属性*/

.test-ul{ -webkit-width:auto; width:620px;}

.block01{ width:50px; height:100px; background:#ccc; line-height:100px;}
.block02{ width:80px; height:140px; background:#555; line-height:140px; margin:0 10px;}
.block03{ width:50px; height:180px; background:#ccc; line-height:180px;}


.input-normal { border: solid 1px #ddd; background-color: #fff; padding: 0 4px; color: #232736; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0s; -o-transition: all 0.2s linear 0s; transition: all 0.2s linear 0s; }
.input-normal:focus { outline: none; border: solid 1px #e2e1e4 \9; border-color: rgba(82,168,236,0.8); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6) }
textarea { overflow: auto; vertical-align: top; resize:none }
.ui-btn, input.ui-input, textarea.ui-textarea, .geo-city-hot, .geo-city, .grst-filter-dropdown, .mdish-minus, .mdish-price, .rinfo-data, .cdish-control, .cdish-edit { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.mdish-minus, .mdish-price { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.fantasia-header a { color: #232736; }
.fantasia-header a.left { width:25px;}
.mdish-controls { -webkit-box-align: stretch; -ms-flex-align: stretch; -webkit-align-items: stretch; align-items: stretch }
.ui-center-container, .header-title.flex { -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center }

.fantasia-logo, .header-back { padding: 0 0 0 10px }
.header-user-info, .header-helper { padding: 0 10px 0 0 }
.fantasia-header { position: relative; z-index: 20; width:100%; height: 44px; background:#fff; color: #232736; line-height: 44px; font-size:.85rem
}
.fantasia-logo { display: block }
.header-user-info { font-size: 0.75rem }
.header-title { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: absolute; top: 0; bottom: 0; left: 65px; right: 65px; overflow: hidden; margin: 0; text-align: center; font-size: 1.05rem; color: #232736;}
.header-title img{ width:364px; vertical-align:middle;}
.header-back { display: block; position: relative }
.header-menu { display: block; padding: 0 10px }
.header-helper { display: block }

.shopping-cart{ float:right;}
.shopping-cart img{ width:30px; vertical-align:middle;}

.item-flyer { display: block; width: 40px; height: 40px; border-radius: 50px; position: fixed; z-index: 9999; }

.back-arrow{ width:10px; margin-top:12px;}
.icon-share{ width:18px; margin-top:12px;}
.share-link{ display:block; float:left; text-align:center; font-size:12px; line-height:30px; margin:0 15px 0 0;}
.share-link img{ margin-left:0 !important;}

/*按钮 标签*/
.join-btn { font-size: 16px; font-weight: bold; padding:10px 20px; margin:-23px -20px 0 0; cursor:pointer; outline:none}
.join-btn img{ width:32px; margin-top:-5px; outline:none}
.btn-tag { padding: 8px 10px; border-radius: 2px; background: #679D3C; font-size: 12px; line-height: 18px; color: #fff; }
.exchang-btn { position: absolute; bottom: 42px; right: 10px }
.exchang-btn img{ width:32px; margin-top:2px;}
.exchang-btn a:first-child{ margin-right:10px;}
.exchang-fixed { position: fixed; width: 100%; bottom: 0; background: #eee; border-top:1px solid #ddd; z-index: 999; padding: 10px 0; }
.exchang-fixed .join-cart{ position:absolute; left:15%; right:15%; top:-50px; padding:5px 0; font-size:12px; color:#fff; text-align:center;}
.exchang-fixed .join-cart .join-cart-bg{ position:absolute; top:0; bottom:0; left:0; right:0; background:#000; border-radius:4px; opacity:0.7; z-index:-1;}
.exchang-fixed .btn-fixed{ position:absolute; left:10px; right:50px;}
.exchang-fixed .btn-fixed .btn-buy { width: 55%; text-align: center; }
.exchang-fixed .btn-fixed .btn-cart { width: 100%; text-align: center; }
.exchang-fixed .btn-fixed a { display: block; margin: 0 10px 0 0; color: #fff; border-radius: 4px; height: 40px; line-height: 40px; font-size: 16px; }
.exchang-fixed .shopping-cart{ position:relative; float:right; width:50px; font-size:12px;}
.exchang-fixed .shopping-cart .item-num{ position:absolute; right:11px; font-size:10px; font-weight:normal; color:#fff; line-height:11px; padding:1px 3px 1px 4px; border-radius:10px;}

.exchang-fixed .item-all-check{ position:relative; float:left; width:70px; margin-top:10px;}
.exchang-fixed .item-all-check label{ float:left; margin:-12px 5px 0 0;}
.exchang-fixed .btn-pay-fixed{ position:absolute; top:15px; left:70px; right:10px;}
.exchang-fixed .btn-delete{ top:-5px;}
.exchang-fixed .btn-pay-fixed .total-price{ width:120px; text-align:right; line-height:16px;}
.exchang-fixed .btn-pay-fixed .btn-pay{ position:absolute; left:120px; right:0; bottom:0;}
.exchang-fixed .btn-pay-fixed .btn-pay a { display: block; margin: 0 0 0 10px; padding:0 10px; min-width:70px; text-align:center; color: #fff; border-radius: 4px; height: 40px; line-height: 40px; font-size: 16px; }

.keyword-tag { margin-right: 5px; padding: 1px 2px; border-radius: 2px; background: #679D3C; font-size: 12px; line-height: 18px; color: #fff; }
.btn-num { font-size: 24px; text-align:center; vertical-align:middle; font-weight: bold; outline: none; border: solid 1px #ddd; background: #f3f1ef; width: 30px; height: 26px; line-height: 26px; color: #232736; cursor:pointer; }
.btnReduce{ border-right:0;}
.btnAdd{ border-left:0;}
.market-price { margin: 5px 0 0 0; text-decoration: line-through; color: #8e8e93; }
.market-price-small { margin: 0 0 0 5px; text-decoration: line-through; color: #8e8e93; }

.go-top{ position: fixed; width:40px; height:40px; line-height:100%; font-size:12px; text-align:center; right:10px; bottom: 80px; background:rgba(255,255,255,0.8); border:1px solid #fff; border-radius:30px; z-index: 999; cursor:pointer;}
.go-top img{ width:16px; margin-top:5px;}

.standards-selected{ display:inline-block; margin:6px 0 0 0; vertical-align:middle; width:104px; padding:2px 10px; border:1px solid #dddddd; cursor:pointer; overflow:hidden;}
.standards-selected .on{ border:1px solid #e03846; background:url(../images/item-selected.jpg) no-repeat right bottom;}
.standards-selected img{ width:10px; margin-top:10px;}

.bgblack{ position:absolute !important; width:100%; height:100%; background:#000; opacity:0.5; z-index:1; left:0; right:0; top:0; bottom:0;}

.radio-check-box{ display:inline-block; text-indent:1.5em; vertical-align:middle; margin-top:-2px; height:16px; line-height:16px; background:url(../images/bill-checked.png) no-repeat left top;}
.radio-checked{ background-position:0 -16px;}
.bill-check{ display:inline-block; text-indent:1.5em; vertical-align:middle; margin-top:-2px; height:21px; line-height:21px; background:url(../images/bill-checked01.png) no-repeat left 2px;}
.bill-checked{ background-position:left -21px;}

.bill-selected{ text-indent:1.5em; color:#232736; background:url(../images/bill-selected.png) no-repeat center left;}

.w50 { width: 50px !important; }
.w80 { width: 80px !important; }
.w100 { width: 100px; }
.w150 { width: 150px; }
.w500 { width: 500px; }
.wp80{ width: 76%;}
.wp100{ width: 100% !important;}

footer { background: #fff; border-top: 1px solid #ecebeb; z-index: 999; padding: 10px 0; }
footer p { text-align: center; font-size: 12px; color: #a19992; }

.bgorange { background: #ed891f !important; }
.bggreen { background: #3cb158; }
.bgred { background: #da3d31 !important; }
.bgwhite{ background:#fff !important;}
.bgdarkblue { background:#393c4a !important;}

/*购物车动画*/
.animated {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated1s {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.delay{ -webkit-animation-delay:0.8s; animation-delay:0.8s;}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotateOut {
  0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
            transform: rotate3d(0, 0, 1, 180deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}

.rotateOut {
  -webkit-animation-name: rotateOut;
          animation-name: rotateOut;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
}


/* 取消订单动画 */
.removed-item {
  -webkit-animation: removed-item-animation 0.8s cubic-bezier(.65,-0.02,.72,.29);
  -o-animation: removed-item-animation 0.8s cubic-bezier(.65,-0.02,.72,.29);
  animation: removed-item-animation 0.8s cubic-bezier(.65,-0.02,.72,.29)
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  30% {
    opacity: 1;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px)
  }

  80% {
    opacity: 1;
    -webkit-transform: translateX(800px);
    transform: translateX(800px)
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(800px);
    transform: translateX(800px)
  }
}

  @-webkit-keyframes removed-item-animation {
	  0% {
	    opacity: 1;
	    -webkit-transform: translateX(0);
	    transform: translateX(0)
	  }
	  30% {
	    opacity: 1;
	    -webkit-transform: translateX(-50px);
	    transform: translateX(-50px)
	  }
	
	  80% {
	    opacity: 1;
	    -webkit-transform: translateX(800px);
	    transform: translateX(800px)
	  }
	
	  100% {
	    opacity: 0;
	    -webkit-transform: translateX(800px);
	    transform: translateX(800px)
	  }
	}

 @media only screen and (min-width:640px) {
.tabBox, .sectionBox, .divide-box, #app { width: 640px; }
}
 @media only screen and (max-width:639px) {
.tabBox, .sectionBox, .divide-box, #app { width: 100%; }

/*描述弹出层*/
.img-desc-text-box { width: 90% !important; top:15% !important; margin-left:-45% !important; }
.textareas{ width:83% !important; margin:15px 5% !important;}
.img-desc-text-box .info-btn{ width:100px;}
}

/*细边框实验*/
.line {position:relative;}
.line:after{width:200%;height:200%;position:absolute;top:0;left:0;z-index:-1;/*层顺序小于默认值0，避免挡住元素无法点击*/
content:"";-webkit-transform:scale(0.5);-webkit-transform-origin:0 0;transform:scale(0.5);transform-origin:0 0;}

.list:after {border:1px solid #e2e1e4;border-radius:10px;}
.item:after {border-bottom:1px solid #71B83D;}
/*.list {width:100%;margin:auto;list-style:none;padding:0;}*/
/*.item {padding:10px;}*/
/*.item:last-child:after {display:none;}*/

.smallbordertopgrey:after {border-top:1px solid #e2e1e4;}
.smallborderbottomgrey:after {border-bottom:1px solid #e2e1e4;}
.smallborderleftgrey:after {border-left:1px solid #e2e1e4;}
.smallborderrightgrey:after {border-right:1px solid #e2e1e4;}
.smallbordergrey:after {border:1px solid #e2e1e4;}

/*for vue*/
[v-cloak] {
  display: none;
}

/* 必需 */
.expand-transition {
  transition: all 2s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0.5;
}
/*9宫格游戏20161025*/
.puzzle-box{ width: 334px; overflow: hidden;}
.puzzle{ float: left; width: 80px; height: 80px; line-height: 80px; text-align: center; border: 1px solid #C8CBD1; margin: 0 1px 1px 0; cursor: pointer;}
.puzzle:hover{ background: #F5F5F5;}
.puzzle-empty{ background: #C8CBD1;}
.puzzle.puzzle-empty:hover{ background: #C8CBD1;}
/*nav20161026*/
.nav-box a{ text-align: center; height: 30px; line-height: 30px; font-size: 16px; color: #fff; background: #3E5C9A;}
.nav-box.home a.home, .nav-box.projects a.projects, .nav-box.services a.services, .nav-box.contact a.contact, .nav-box.about a.about{ background: #71B83D;}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-leave, .slide-fade-leave-active {
	animation: removed-item-animation 0.3s cubic-bezier(.65,-0.02,.72,.29)
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-active {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

/* 1. declare transition */

.fade-move,
.fade-enter-active,
.fade-leave-active {
	transition: all .5s cubic-bezier(.55, 0, .1, 1);
}
/* 2. declare enter from and leave to state */
.fade-enter,
.fade-leave-to {
	opacity: 0;
	transform: scaleY(0.01) translate(30px, 0);
}
/* 3. ensure leaving items are taken out of layout flow so that moving
animations can be calculated correctly. */
.fade-leave-active {
	position: absolute;
}

input::-webkit-inner-spin-button{ display: none;}

.btn-submit{ width:100%; color: #fff; text-align:center; height: 48px; line-height: 48px; font-size: 16px; border:0; outline:none;}
.btn-next{ background:-webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e2e1e4)); color:#8e8e93;}
.pbottom50{ padding-bottom: 50px;}

.radius2{ border-radius: 2px;}
.radius4{ border-radius: 4px;}
.overhidden{ overflow: hidden;}
